body {
    background: rgb(224,234,243);
    background: linear-gradient(90deg, rgba(224,234,243,1) 0%, rgba(207,222,243,1) 100%);
    overflow: hidden;

}

.circle1 {
    width: 650px;
    height: 650px;
    background-color: rgba(94, 69, 253, 0.20);
    border-radius: 50%;
    filter: blur(100px);
    margin-left: -300px;
    margin-top: -200px;
    position: absolute;
}

.circle2 {
    width: 650px;
    height: 650px;
    background-color: rgba(94, 69, 253, 0.20);
    border-radius: 50%;
    filter: blur(100px);
    margin-left: 1200px;
    margin-top: 200px;
    position: absolute;
}