
.map-access .h1 {
font-weight: 600;
font-size: 64px;
line-height: 120%;
text-transform: uppercase;
color: #161616;
}

.highlight {
    background: #5C45FD;
    background: linear-gradient(to right, #5C45FD 0%, #A89BFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p {
font-weight: 400;
font-size: 24px;
line-height: 150%;
}





