.container {
    margin: 2rem auto; /* 2% */
    width: 80%;
    background-color: white;
    border-radius: 0.8rem; /* 8px */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* 10px */
    display: flex;
    flex-direction: column;
    color: #3d3d3d;
  }
  
  .container h2 {
    margin: 0;
    padding: 2rem; /* 20px */
    background-color: #f8f8f8;
    border-bottom: 0.1rem solid #e0e0e0; /* 1px */
  }
  
  .map-container {
    position: relative;
    padding: 2rem; /* 20px */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .map-image {
    width: 100%;
    display: block;
  }
  
  .alert-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4d4d;
    color: white;
    padding: 1rem 2rem; /* 10px 20px */
    border-radius: 0.4rem; /* 4px */
    display: flex;
    align-items: center;
  }
  
  .alert-icon {
    font-size: 2.4rem; /* 24px */
    margin-right: 1rem; /* 10px */
  }
  
  .cctv-information {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /* 20px */
  }
  
  .cctv-container {
    padding: 2rem; /* 20px */
    display: flex;
    flex-wrap: wrap;
  }
  
  .cctv-image {
    flex: 1;
    max-width: 45%;
    margin-right: 2rem; /* 20px */
  }
  
  .cctv-image img {
    width: 100%;
    border-radius: 0.4rem; /* 4px */
  }
  
  .cctv-info {
    flex: 2;
  }
  
  .cctv-info h3 {
    margin: 0;
    margin-bottom: 1rem; /* 10px */
    font-weight: 700;
    font-size: 3.5rem; /* 35px */
    color: #3d3d3d;
  }
  
  .cctv-info p strong {
    margin: 0;
    padding-bottom: 4rem; /* 40px */
    font-weight: 400;
    font-size: 2.5rem; /* 25px */
    color: rgb(95, 95, 95);
  }
  
  .cctv-imp-info {
    margin: 0;
    padding-top: 2rem; /* 20px */
    padding-bottom: 2rem; /* 20px */
    font-weight: 400;
    font-size: 2.5rem; /* 25px */
    color: rgb(85, 85, 85);
  }
  
  .cctv-info p {
    margin: 0;
    margin-bottom: 1rem; /* 10px */
    font-weight: 300;
    font-size: 2rem; /* 20px */
    color: grey;
  }
  
  .location-info {
    margin-top: 2rem; /* 20px */
    padding: 1rem; /* 10px */
    background-color: #f9f9f9;
    border-radius: 0.5rem; /* 5px */
  }
  .location-info h4 {
    margin: 0;
    font-size: 1.2em;
  }
  .location-info p {
    margin: 0.5rem 0; /* 5px 0 */
    font-size: 1em;
  }